#heading {
  font-weight: bold;
  font-size: 30px;
  color: rgb(197, 39, 39);
}

.main{
  display: flex;
}

.flex{
  width: 50%;
  padding: 20px;
  margin-left: 40px;
}

td{
  font-size: 18px;
}

.total{
  border: 1px solid black;
  width: 25%;
  padding: 20px;
}

.flex > div > div {
  display: flex;
}

.flex > div > div > * {
  flex: 1;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.input {
  height: 40px;
  font-size: 20px;
}

.form-1{
  width: 25%;
  background-color: lightblue;
  padding: 20px;
}

#submit {
  height: 50px;
  width: 100%;
  background-color: green;
  color: aliceblue;
  font-size: 20px;
}

.form-1 > div {
  font-size: 25px;
  color: blue;
  font-weight: bold;
  
  width: 100%;
}

.float {
  float: right;
  font-size: 30px;
}

a{
  text-decoration: none;
}

.form-1 > div > * {
  width: 100%;
}

#res > * > * > *{
  border: 1px solid black;
  padding: 10px;
}

#res > * > * {
  padding: 10px;
  text-align: center;
}
