.flex > div > div {
  display: flex;
}

.flex > div > div > * {
  flex: 1;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.input {
  height: 40px;
  background-color: rgb(102, 101, 101);
}
